<h3>create an account or log in:</h3>
<form method="GET" action="/login" class="inline-block">
  <input type="submit" value="login" />
</form>
<form method="GET" action="/register" class="inline-block">
  <input type="submit" value="register" />
</form>