<h3>register:</h3>
<form method="POST" action="/register">
  <input type="text" name="user" placeholder="username" />
  <input type="password" name="pass" placeholder="password" />
  <input type="submit" value="register" />
</form>
<hr />
<h4><a href="/">â† back</a></h4>