<h3>report a URL:</h3>
<hr />
<h4>generate pow:</h4>
<pre>
import hashlib
POW_DIFFICULTY = {{ POW_DIFFICULTY }}
def solve_pow(prefix: str, difficulty: int = POW_DIFFICULTY) -> str:
    i = 0
    while True:
        hasher = hashlib.sha256()
        data = f"{prefix}{i}"
        hasher.update(data.encode())
        hash_bytes = hasher.digest()
        z = 0
        for byte in hash_bytes:
            leading = len(bin(byte)[2:].zfill(8)) - len(bin(byte)[2:].lstrip('0'))
            z += leading
            if z >= difficulty:
                return data
            if leading != 8:
                break
        i += 1

print(solve_pow("{{ pow }}"))
</pre>
<hr />
<h4>submit URL:</h4>
<form method="POST" action="/report">
  <input type="url" name="url" placeholder="http(s)://..." value="{{ url }}" />
  <input type="text" name="pow" placeholder="pow result (run code above)" />
  <input type="submit" value="report" />
</form>
<hr />
<h4><a href="/home">← back</a></h4>