<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>babyleak</title>
  <link rel="stylesheet" href="/css/marx.min.css">
</head>
<body>
  <main>
    <section>
      <h1>babyleak</h1>
      <blockquote id="msg"></blockquote>
      <hr />
      {{{ body }}}
    </section>
  </main>
  <script src="/js/main.js"></script>
</body>
</html>