<form method="POST" action="/api/login">
  <label for=user>Username:</label>
  <input type="text" name="user" placeholder="username" />
  <label for=pass>Password:</label>
  <input type="password" name="pass" placeholder="password" />
  <br />
  <input type="submit" value="Login" />
</form>