<h5>Login</h5>
<form action="/api/login" method="POST">
  <fieldset>
    <p>
      <label>Username</label>
      <input type="text" name="user" placeholder="Username" />
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="pass" placeholder="Password" />
    </p>
    <input type="submit" />
  </fieldset>
</form>
<br />
<a href="/">← Back</a>