<div class="row mt-3">
    <div class=col>
        <h4>Play <a href=https://ctf.cor.team><strong>corCTF 2024</strong></a>!</h4>
    </div>
</div>
<div class="row mt-3">
    <div class=col>
        <p><strong><span>A European & American Collegiate CTF Team</span></strong></p>
    </div>
</div>
<div class=row>
    <div class=col>
        <ul>
            <li><a href=/writeups>Writeups</a></li>
            <li><a href=/members>Members</a></li>
        </ul>
    </div>
</div>